<div class="container text-center">
    <h1>La fine équipe</h1>
    

<%= cl_image_tag "tl0iwfterjwyctft8zky", width: 400 %>

  
<%= fetch_image_tag("http://res.cloudinary.com/caroheymes/image/upload/v1510319360/o9pzfcvmdyuo4hjexezl.jpg",
                :width => 150, :height => 150, :crop => :thumb, 
                :gravity => :face, :radius => 20) %>
</div>