<h1 class ="text-center">Les dernières horreurs en ligne </h1>
</br>
<div class="col-xs-12 col-sm-6 col-sm-offset-3">   
       <%= render 'shared/list' %>
        
        <div class ="text-center">
            <!--%= paginate @products %> -->
            <%= link_to "Retour à l'accueil", root_path, class:"btn btn-success" %>
<%= link_to "Je lâche mon fiel →", new_product_path, class:"btn btn-danger"  %>
        </div>



      
      
      
</div>      