<div class="container">
    <div class="row">
        
        
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h1 class="text-center"> Je  </h1>
            <%= simple_form_for @product do |f| %>
          
               <div class="form-group">
              
                <%= f.input :title, placeholder: "Mon pitch", label: "En résumé" %>
                <%= f.input :content, placeholder: "Rions un peu, Faut reconnaître, c'est du brutal, ...", label: "La belle histoire", as: :text, :input_html => { :rows => 6 } %>
                
                </div>

            <%= f.button :submit, "Je crache mon venin", class: "btn btn-danger btn-lg" %>
            <% end %>
            
            
        </div>
        
        
        
    </div>
</div>

